/* editor bar
 */

.editor-bar {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 2em;
}

.editor-bar-pane {
  display: table-cell;
}

.editor-bar-pane:last-child {
  border: 0;
}

.editor-bar-pane-close {
  float: right;
}
