/* header
 */

.header {
  height: 2em;
  padding: .2em;
  border-bottom: 1px solid #eee8d5;
}

.header-logo {
  display: inline-block;

  opacity: .8;
}

.header-logo:hover {
  opacity: 1;
}

.collaborate,
.settings,
.share {
  float: right;
}
