/* share
 */

.popup.share-popup {
  width: auto;
  min-width: 28em;
}

.share .share-url {
  overflow: hidden;
}

.share-url-input {
  display: inline-block;
  width: 80%;
}

.share-url-copy {
  display: inline-block;
  width: 18%;
}

.share-is-generated .share-qr-error,
.qr-preview {
  display: none;
}

.share-is-generated .qr-preview {
  display: block;
}

.share-qr-error {
  color: #dc322f;
  font-family: monospace;
}
