/* editor bar
 */

.editor-bar {
  overflow: hidden;
  height: 2em;
  table-layout: fixed;
}

.editor-bar-pane {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #eee8d5;
}

.editor-bar-pane:last-child {
  border: 0;
}

.editor-bar-select {
  padding: .4em;
  background: transparent;
  border: 0;
  cursor: pointer;
  width: auto;
  appearance: none;
  background: transparent url('/images/icon-arrow-down.svg') no-repeat right center;

  color: #dc322f;
  font-family: monospace;
}

.editor-bar-pane-close {
  float: right;
}
