/* header
 */

.header {
  height: 2em;
  padding: .2em;
  border-bottom: 1px solid #eee8d5;
}

.header-logo {
}

.header-logo h1 {
  display: inline-block;
  margin: 0;

  color: #073642;
  font-size: 1.2em;
  font-family: monospace;
}

.header-logo:hover h1 {
  color: #002b36;
}
