/* main
 */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app,
.main {
  height: 100%;
}

.app {
  background-color: #fdf6e3;
}

.main {
  padding: .4em;
}

.editor {
  padding-top: .4em;
  height: calc(100% - 2em);
}

