/* popup
 */

/* styling
 */
.popup {
  margin-top: 8px;
  padding: .6em;
  border: 1px solid rgba(0,0,0,.12);
  background: #fdfbf4;
  box-shadow: 0 0 0 8px #fdfbf4, 16px 16px 0 rgba(0,0,0,.2);
}



/* layout
 */
.popup-container {
  position: relative;
  z-index: 20;
}

.popup-container-is-open .popup {
  display: block;
}

.popup {
  display: none;

  position: absolute;
  top: 1.6em;
  right: 0;
  width: 20em;
}

.popup h3 {
  margin: 0;
}

