/* settings
 */

.settings {
  position: relative;
  z-index: 20;
  float: right;
}

.settings-is-open .settings-popup {
  display: block;
}

.settings-popup {
  display: none;

  position: absolute;
  top: 1.6em;
  right: 0;
  width: 20em;
}

.settings-popup h3 {
  margin: 0;
}

