/* jotted theme siloz
 */

.jotted-theme-siloz {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: visible;
  border: 0;
}

.jotted-theme-siloz .jotted-nav {
  display: none;
}

.jotted-theme-siloz .jotted-pane {
  position: relative;
  visibility: visible;
  display: table-cell;

  width: 100%;
  padding: 0 .2em;
  background: transparent;
  border-color: #eee8d5;

  vertical-align: top;
}

.jotted-theme-siloz .CodeMirror-linenumber,
.jotted-theme-siloz .CodeMirror pre {
  font-size: 1.2em;
  line-height: 1.2em;
}

.jotted-theme-siloz .jotted-pane-result iframe {
  z-index: 10;
  height: calc(100% + 2em);
  margin-top: -2em;
  background-color: #fff;
  border: 0;
}

/* solarized theme tweaks
 */

.CodeMirror.cm-s-solarized {
  box-shadow: none;
}

.CodeMirror.cm-s-solarized .CodeMirror-gutters {
  background: #fdf6e3;
}

.CodeMirror.cm-s-solarized .CodeMirror-linenumber {
  opacity: .4;
}
