/* jotted theme siloz
 */

.jotted-theme-siloz {
  overflow: visible;
  border: 0;
}

.jotted-theme-siloz .jotted-nav {
  display: none;
}

.jotted-theme-siloz .jotted-pane {
  padding: 0 .2em;
  background: transparent;
  border-color: #eee8d5;
}

.jotted-theme-siloz .CodeMirror-linenumber,
.jotted-theme-siloz .CodeMirror pre {
  font-size: 1.2em;
  line-height: 1.2em;
}

.jotted-theme-siloz .jotted-pane-result {
  position: relative;
  z-index: 10;
  float: right;
  height: calc(100% + 2.8em);
  margin-top: -2.4em;
  background-color: #fff;
  border-width: 0;
}
