/* icons
 */

.icon {
  display: inline-block;
  width: .8em;
  height: .8em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-close {
  background-image: url('/images/icon-close.svg');
}
