<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="siloz.css">
  </head>
  <body>

    <div class="app">
      <header class="header">
        <h1>
          siloz
        </h1>
      </header>

      <div class="editor">
        <div class="editor-instance jotted-theme-bin jotted-theme-siloz"></div>
      </div>
    </div>

    <script src="siloz.js"></script>
  </body>
</html>
