<!doctype html>
<html>
  <head>
    <title>
      siloz
    </title>

    {{#if production}}
      <link rel="stylesheet" href="siloz.min.css">
    {{else}}
      <link rel="stylesheet" href="siloz.css">
    {{/if}}
  </head>
  <body>

    <div class="app">
      {{ durruti './src/components/main.js' }}
    </div>

    {{#if production}}
      <script src="siloz.min.js"></script>
    {{else}}
      <script src="siloz.js"></script>
    {{/if}}
  </body>
</html>
