<!doctype html>
<html>
  <head>
    <title>
      siloz
    </title>
    <link rel="stylesheet" href="siloz.css">
  </head>
  <body>

    <div class="app">
      {{ durruti './src/main.js' }}
    </div>

    <script src="siloz.js"></script>
  </body>
</html>
