/* shared
 */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

h1,
h2,
h3 {
  margin: 0 0 .2em;
}

h2 {
  font-size: 1.2em;
}

p {
  margin: 0 0 .8em;
}

a img {
  border: 0;
}

/* loading state
 */
.is-loading {
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.is-loading:before,
.is-loading:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.12);
}

.is-loading:after {
  z-index: 1;
  animation: 1s loading infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}


/* buttons
 */
.btn {
  padding: .4em .8em;
  border: 0;
  cursor: pointer;
  background: transparent;

  color: #002b36;
  font-family: monospace;
  text-decoration: none;
  line-height: 1;
}

.btn:hover
.btn:focus {
  background: #eee8d5;
}

.btn-primary {
  color: #dc322f;
}

/* forms
 */
fieldset {
  border: 0;
  padding: 0 0 1.2em;
}

legend {
  padding: 0 0 .6em;

  font-size: 1.2em;
  font-weight: bold;
  font-family: monospace;
}

label {
  padding: 0 .8em 0 0;
  cursor: pointer;
}

input[type=text] {
  padding: .4em;
  border: 1px solid rgba(0,0,0,.1);
  background: #fff;
  cursor: text;

  font-family: monospace;
}

.select {
  appearance: none;
  padding: .4em 1em .4em .4em;
  border: 0;
  background: transparent url('/images/icon-arrow-down.svg') no-repeat right center;
  cursor: pointer;

  color: #dc322f;
  font-family: monospace;
}
